@font-face {
  font-family: "Inregral CF";
  src: url("@/shared/assets/fonts/IntegralCFBold.woff2") format("woff2"),
    url("@/shared/assets/fonts/IntegralCFBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/shared/assets/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("@/shared/assets/fonts/Satoshi-Regular.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("@/shared/assets/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("@/shared/assets/fonts/Satoshi-Medium.woff") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@/shared/assets/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("@/shared/assets/fonts/Satoshi-Bold.woff") format("woff");
}
