@theme {
  --font-satoshi: "Satoshi", "sans-serif";
  --font-integral: "Inregral CF", "sans-serif";

  --text-tiny: 0.625rem;

  --color-accent-gray: #f0f0f0;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  body {
    @apply font-satoshi;
    @apply h-screen;
  }

  #root {
    @apply h-full;
  }
}

.bg-custom-main::before {
  background-image: url("../assets/img/preview.png");
}

.bg-custom-dress-casual::before {
  background-image: url("../assets/img/styles/casual.png");
  background-size: 185%;
  background-position: 30% 40%;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.bg-custom-dress-formal::before {
  background-image: url("../assets/img/styles/formal.png");
  background-size: 185%;
  background-position: -15% 35%;
  background-repeat: no-repeat;
}

.bg-custom-dress-party::before {
  background-image: url("../assets/img/styles/party.png");
  background-size: 130%;
  background-position: 5% 45%;
  background-repeat: no-repeat;
}

.bg-custom-dress-gym::before {
  background-image: url("../assets/img/styles/gym.png");
  background-size: 110%;
  background-position: -120% 35%;
  background-repeat: no-repeat;
}
